.gallery-image {
	padding: 1.25rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery-image img {
	height: 15.625rem;
	width: 21.875rem;
	// transform: scale(1);
	// transition: transform 1s;
}

.img-box {
	box-sizing: content-box;
	margin: 0.625rem;
	height: 15.625rem;
	width: 21.875rem;
	overflow: hidden;
	display: inline-block;
	color: white;
	position: relative;
	background-color: white;
}

.img-box:hover img {
	transform: scale(1.05);
}

.opacity-low {
	opacity: 0.5;
}
