.nav {
	position: relative;
	height: 4.6875rem;
	top: 0;
	width: 100%;
	display: flex;
	z-index: 1;

	a {
		flex: 1;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		line-height: 3.5;
		font-size: 1.25rem;
		color: white;
		background-color: black;
		transition: background-color 300ms ease-in-out;
		transition: color 300ms ease-in-out;

		&:hover {
			color: black;
			background-color: white;
		}
	}

	&__logo {
		max-width: 0;
		font-weight: bold;
		overflow: hidden;
		transition: all 0.5s;
		white-space: nowrap;
	}
}
