html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #eeeeee;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body.fixed-nav nav {
  position: fixed;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  min-height: 33rem;
  width: 100%;
  background-image: url("/images/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  text-shadow: 0.125rem 0.125rem 0.3125rem black;
  font-size: 10vw;
  font-weight: bold;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 63.9375em) {
  .header h1 {
    font-size: 14vw;
  }
}

.nav {
  position: relative;
  height: 4.5rem;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.nav a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 3.5;
  font-size: 1.25rem;
  color: white;
  background-color: black;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.nav a:hover {
  color: black;
  background-color: white;
}

.nav__logo {
  max-width: 0;
  font-weight: bold;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  white-space: nowrap;
}

.site-wrap {
  max-width: 58rem;
  margin: 4rem auto;
  background: white;
  padding: 2.5rem;
  text-align: center;
  -webkit-box-shadow: 0 0 0.625rem 0.3125rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0.625rem 0.3125rem rgba(0, 0, 0, 0.05);
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media (max-width: 63.9375em) {
  .site-wrap {
    margin: 1rem auto;
  }
}

.site-wrap p {
  font-size: 1.25rem;
}

.gallery-image {
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-image img {
  height: 15.625rem;
  width: 21.875rem;
}

.img-box {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0.625rem;
  height: 15.625rem;
  width: 21.875rem;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.img-box:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.opacity-low {
  opacity: 0.5;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 80%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer {
  position: relative;
  width: 100%;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: white;
  text-align: center;
}

@media (max-width: 63.9375em) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__openinghrs {
  min-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__location {
  min-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__contact {
  min-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer h6 {
  font-size: 1rem;
  margin: 2rem;
}

.footer a:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */